* {
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/background.jpeg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  height: 100vh;
}
.headertop {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-family: "Dosis", sans-serif;
}
h1 {
  font-size: 60px;
  letter-spacing: 15px;
}
hr {
  width: 50%;
  margin: 30px auto;
  border: 1.5px solid #fff;
}
p {
  font-size: 25px;
  margin-bottom: 30px;
}

.daysleft {
  display: flex;
  width: auto;
  color: white;
}
.days {
  padding: 16px;
}
.hours {
  padding: 16px;
}
.mins {
  padding: 16px;
}
.secs {
  padding: 16px;
}
h2 {
  margin-top: 25px;
}
